<div class="content" role="main">
  <div class="current-levels">
    <div class="current-time">
      <p>It is currently</p>
      <p>{{now}}</p>
    </div>
    <div class="current-bloodlevel">
      <p>Current Bloodlevel: {{bloodLevel}}mg</p>
      <p>Total Dosage: {{totalDosage}}mg</p>
    </div>
  </div>

  <form [formGroup]="newDoseForm" (ngSubmit)="addDose(newDoseForm)" class="dose-form" id="new-dose-form">
    <div>
      <label>Date:
        <input formControlName="date" type="date" value="2022-11-19" />
      </label>
    </div>
    <div>
      <label>Time:
        <input formControlName="time" type="time" />
      </label>
    </div>
    <div>
      <label>Dosage
        <input formControlName="dosage" type="number" placeholder="15" />
      </label>
    </div>
    <div>
      <label>Dosage Unit
        <input formControlName="dosage_unit" type="text" value="mg" />
      </label>
    </div>
    <div>
      <label>Substance:
        <select formControlName="substance" (change)="changeSubstance($event)" id="substance">
          <option value="">Choose Substance</option>
          <option *ngFor="let medication of med_names" [ngValue]="medication">{{medication}}</option>
        </select>
      </label>
    </div>
    <button type="submit">Add</button>
  </form>

  <table class="dosage_history">
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Time</th>
      <th>Dosage</th>
      <th>Substance</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let dose of dose_history">
      <td>{{dose.id}}</td>
      <td>{{dose.date}}</td>
      <td>{{dose.time}}</td>
      <td>{{dose.dosage}}{{dose.dosage_unit}}</td>
      <td>{{dose.substance}}</td>
      <td><a href="" (click)="$event.preventDefault();this.deleteDose(dose)">Delete</a></td>
    </tr>

  </table>

</div>

<router-outlet></router-outlet>
