<table #doseHistoryTable mat-table [dataSource]="dose_history" style="width: 400px;" class="dosage-history">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let dose"> {{dose.id}} </td>
  </ng-container>

  <ng-container matColumnDef="datetime">
    <th mat-header-cell *matHeaderCellDef> DateTime </th>
    <td mat-cell *matCellDef="let dose">
      <div>{{getDateFromTimestamp(dose.timestamp)}}</div>
      <div>{{getTimeFromTimestamp(dose.timestamp)}}</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Time </th>
    <td mat-cell *matCellDef="let dose"> {{getTimeFromTimestamp(dose.timestamp)}} </td>
  </ng-container>

  <ng-container matColumnDef="substance">
    <th mat-header-cell *matHeaderCellDef> Substance </th>
    <td mat-cell *matCellDef="let dose">
      <div> {{getSubstanceName(dose.substance_id)}} </div>
      <div> {{getDosageFormName(dose.substance_id, dose.dosage_form_id)}} </div>

    </td>
  </ng-container>

  <ng-container matColumnDef="dosage_form">
    <th mat-header-cell *matHeaderCellDef> Form </th>
    <td mat-cell *matCellDef="let dose"> {{getDosageFormName(dose.substance_id, dose.dosage_form_id)}}</td>\
  </ng-container>

  <ng-container matColumnDef="dosage">
    <th mat-header-cell *matHeaderCellDef> Dosage </th>
    <td mat-cell *matCellDef="let dose"> {{dose.dosage}}{{dose.dosage_unit}} </td>
  </ng-container>

  <ng-container matColumnDef="roi">
    <th mat-header-cell *matHeaderCellDef> ROI </th>
    <td mat-cell *matCellDef="let dose"> {{dose.ROI}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let dose">
      <div (click)="clickEditDose($event, dose.id)"> Edit </div>
      <div (click)="clickDeleteDose($event, dose.id)"> Delete </div>

    </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!--
<table class="dosage-history">
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Time</th>
    <th>Substance</th>
    <th>Form</th>
    <th>Dosage</th>
    <th>ROI</th>
  </tr>
  <tr *ngFor="let dose of dose_history">
    <td>{{dose.id}}</td>
    <td>{{getDateFromTimestamp(dose.timestamp)}}</td>
    <td>{{getTimeFromTimestamp(dose.timestamp)}}</td>
    <td>{{getSubstanceName(dose.substance_id)}}</td>
    <td>{{getDosageFormName(dose.substance_id, dose.dosage_form_id)}}</td>
    <td>{{dose.dosage}}{{dose.dosage_unit}}</td>
    <td>{{dose.ROI}}</td>
  </tr>
</table>

-->
