/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

div.current-time p {
  margin-right: 25px;
  margin-bottom: 10px;
}

form.dose-form {
  padding-top: 15px;
  padding-bottom: 15px;
}

div.content {
  margin-left: 25px;
  margin-right: 25px;
  width: 800px;
  margin: 0 auto;
}

input#dosage {
  width: 110px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  .column {
    width: 50%;
    //height: 300px;
    overflow-y: scroll;
  }
}


.column {
  display: flex;
  flex-direction: column;

  &.dosage-history {
    height: 300px;
    overflow-y: scroll;
  }
}

table.dosage-history {
  max-height: 400px;
  overflow-y: scroll;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
